@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
    background-repeat: no-repeat;
    background-color: rgb(94, 94, 94)!important;
    background-position-x: center;
    background-attachment: fixed;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 40px;
}


#cloudiness::after {
    content: "%";
}

#temperature::after {
    content: "°C";
}

.forecast-temperature::after {
    content: "°C";
}

#pressure::after {
    content: "hPa";
}

#humidity::after {
    content: "%"
}

#wind-speed::after {
    content: "m/s";
}


#visibility::after {
    content: "km"
}

#rain::before {
    content: "Rain(last 3h): "
}

#main-icon {
   transform: scale(1.1);
}

.small-icon {
    height: 50px;
    width: 50px;
}

.forecast-icon {
    height: 100px;
    width: 100px;
}

svg {
    pointer-events: none;
}

#search-button:active {
    transform: scale(1.2);
}

#search-button:focus {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem #dd8f726e;
    border: none;
}

* {
    font-size: 0.9rem;
}

.alert {
    margin-top: 56px;
    max-width: 800px;
}

.vr {
    padding: 0px!important;
}

p {
    margin: 0px;
}



@media only screen and (min-width: 1600px){
	body {
        background-size: cover;
    }
}

@media only screen and (min-width: 600px){
	* {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px){
	.remove-hr {
        display: none;
    }
}

@media only screen and (min-width: 575px){
	.remove-hr-1 {
        display: none;
    }
}

@media only screen and (min-height: 800px){
	body {
        background-repeat: repeat;
    }
}