@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
    background-repeat: no-repeat;
    background-color: burlywood!important;
    background-position-x: center;
    background-attachment: fixed;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 40px;
}

#cloudiness::before {
    content: "Cloudiness: ";
}

#cloudiness::after {
    content: "%";
}

#temperature::before {
    content: "Temperature: ";
}

#temperature::after {
    content: "°C";
}

#pressure::before {
    content: "Pressure: ";
}

#pressure::after {
    content: "hPa";
}

#humidity::before {
    content: "Humidity: "
}

#humidity::after {
    content: "%"
}

#wind-speed::before {
    content: "Windspeed: "
}

#wind-speed::after {
    content: "m/s";
}

#visibility::before {
    content: "Visibility: "
}

#visibility::after {
    content: "km"
}

#rain::before {
    content: "Rain(last 3h): "
}

#main-icon {
    height: 250px;
    width: 250px;
}

* {
    font-size: 0.9rem;
}


@media only screen and (min-width: 1600px){
	body {
        background-size: cover;
    }
}

@media only screen and (min-width: 600px){
	* {
        font-size: 1.1rem;
    }
}


@media only screen and (min-height: 800px){
	body {
        background-repeat: repeat;
    }
}