@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
    background-repeat: no-repeat;
    background-color: burlywood!important;
    background-position-x: center;
    background-attachment: fixed;
    font-family: 'DM Sans', sans-serif;
}

#cloudiness::before {
    content: "Cloudiness: ";
}

#feels-like::before {
    content: "Feels like: ";
}

#pressure::before {
    content: "Pressure: ";
}

#humidity::before {
    content: "Humidity: "
}

#visibility::before {
    content: "Visibility: "
}

#rain::before {
    content: "Rain(last 3h): "
}

#main-icon {
    height: 250px;
    width: 250px;
}

#descript:before {
    content: "Description: "
}

@media only screen and (min-width: 1600px){
	body {
        background-size: cover;
    }
}